<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poliban.e020320042.ordernavigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="poliban.e020320042.ordernavigation.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="poliban.e020320042.ordernavigation.SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="poliban.e020320042.ordernavigation.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="poliban.e020320042.ordernavigation.MainActivity"/>
        </activity>

        <activity
            android:name="poliban.e020320042.ordernavigation.ThirdActivity"
            android:label="@string/title_activity_third"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="poliban.e020320042.ordernavigation.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="poliban.e020320042.ordernavigation.MainActivity"/>
        </activity>

        <activity
            android:name="poliban.e020320042.ordernavigation.FourthActivity"
            android:label="@string/title_activity_fourth"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="poliban.e020320042.ordernavigation.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="poliban.e020320042.ordernavigation.MainActivity"/>
        </activity>

    </application>
</manifest>